@use '../abstracts' as *;

body {
    font-size: map-get($f-sizes, body2);
    font-family: $primary-f-family;
    color: map-deep-get($colors, "gray", "300");
}

h1, 
h2,
h3 {
    font-weight: 900;
    line-height: 1;
}

h2,
h3,
p {
    margin-bottom: 1em;
}