$colors: (
    primary: (
        100: #BBBAFF,
        200: #9E9CFF,
        300: #817EFF,
        400: #5278FF,
        500: #556FF6,
        600: #11143D,
    ),
    success: (
        100: #D8FFEF,
        200: #6EEAB5,
        300: #34D6AF,
        400: #3FC6AE,
    ),
    error: (
        100: #FFD0DE,
        200: #FF8DAF,
        300: #FF8D94,
        400: #F370C1,
    ),
    gray: (
        100: #96A0AB,
        200: #7D879E,
        300: #5F6D7E,
        400: #6E7177,
    )
);

