@use '../abstracts' as *;

@mixin paletteFactory {
    @each $palette, $clr in $colors {
        @each $darkness, $value in $clr {
            .palette-#{$palette}-#{$darkness} {
                background-color: $value;
                color: set-contrast-text($value);

                &.dark-h:hover {
                    background-color: darken($value, 6%);
                    color: set-contrast-text($value);
                }
                &.light-h:hover {
                    background-color: lighten($value, 6.5%);
                    color: set-contrast-text($value);
                }
            }
        }
    }
}

@mixin textColorsFactory {
    @each $palette, $clr in $colors {
        @each $darkness, $value in $clr {
            .color-#{$palette}-#{$darkness} {
                color: $value;
            }
        }
    }
}

@include paletteFactory;
@include textColorsFactory;